.a{

    color:blue;
}

.firstp{
    font-size: 35px;
}


  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

 

  td{
    padding: 3px 14px 5px 6px;
  }

  .pass{
    padding-bottom: 15px;

  }
  

  .div1y2{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  
input {
  margin: 10px 0 0 0;
  width: 60%;
  min-height: 2em; 
  }

  .inline {
  width: unset;
  margin: 0 0.6em 0 0;
  vertical-align: middle;
  float:left;
}

.dale{
  
  width: 174%;
  height: 45px;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 60px;
  color:grey;
  border-color: grey;
  background-color: white;
  
 }

 .p2{
   margin-top:130px;
 }

.container{
    padding:1em;
}

 .item{
    margin:1em;
    padding: 1em;
    float:left; 
 }


 a{
    color:	#008080;

 }


 .maindivisor{
 padding: 5px 340px 5px 5px;
    
 }

 .secondiv{
    margin:0.1em;
    padding:0.1em;
    float:right; 
 }

